## java specific
!.gitignore
*.iml
*.iws
*.ipr
target
*/target
*/*/target

## vim objects
*.swo
*.swp

## Netbeans
catalog.xml
nbactions.xml
nb-configuration.xml

## IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
jmeter.log
